<beans:beans xmlns="http://www.springframework.org/schema/security"  
 xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
 xmlns:context="http://www.springframework.org/schema/context"
 xsi:schemaLocation="http://www.springframework.org/schema/beans  
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
           http://www.springframework.org/schema/security  
           http://www.springframework.org/schema/security/spring-security.xsd" default-autowire="byName">  
  
  	<http auto-config="true" use-expressions="true">  
	 <intercept-url pattern="/newTeam" access="hasRole('ROLE_USER')"/>
	 <intercept-url pattern="/tournamentsNew" access="hasRole('ROLE_USER')"/>
	 <form-login login-page="/login" default-target-url="/index"
	 authentication-failure-url="/login.go?errorLogin"/>
	 <logout logout-success-url="/logout"/>
	</http> 
	
	<beans:bean id="myCustomAuthProvider" class="sk.frisbee.aplikacia.CustomAuthProvider">
	
		
	</beans:bean>
	

	<authentication-manager alias="authenticationManager">
		<authentication-provider ref="myCustomAuthProvider"/>
	</authentication-manager>

</beans:beans> 