html { height: 100% }
  
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background: white;
	height: 100%;	
}

a {
	text-decoration:none;
}

p {
	margin: 0;
	paddin: 0;
}

#map-canvas { width: 480pt;height : 320pt }

#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	min-width: 620pt;
	border: 1px solid gray;
}

#topMenu {
	width: auto;
	background-color:#0099CC;
	border-bottom: 4pt solid #336699;
}

.topMenuItem {
	min-width: 85pt;
	width: 17%;
	height: 45pt;
	text-align:center;
	display: inline-block;
	font-size: 22pt;
	padding-top: 11pt;
}

.topMenuItem:hover {
	background-color: #336699;
}

.topMenuItem a{
	color: white;
}


.topMenuItem a:visited{
	color: white;
}

.topMenuItem a:hover{
	color: #CCFFCC;
}

#loginArea {
	background-color: #336699;
	text-align: right;
	color: white;
	padding: 1pt;
}

#loginArea a{
	color: white;
	padding-left: 5pt;
}


#content {
	width: 100%;	
}

#centerContent{
	width:auto;
	display: table;
	margin: 0 auto;
}

#centerContent2{
	width:auto;
	display: table;
	margin: 0 auto;
}

.topFiveMain {
	min-width: 150pt;
	display: inline-block;
	padding: 2pt;
}

.topFiveMain table {
	border: 1pt solid #CCCCCC;
}

#profileInfo {
	margin-left: 20pt;
	height: auto;
	min-width: 220pt;
	display: inline-block;
}

#profileAvatar {
	width: 150pt;
	display: inline-block;
}

#profileAvatarImg {
	width: 150pt;
}

.boldTextTd{
	font-weight:bold;
	width: 120pt;
}

#cal{
	
	float: left;	
}

#tournamentsList{
	display: inline-block;
	border-left: 1pt solid gray ;
	clear:both;
}

.grayRow {
	background-color:#CCCCCC;
	text-align:center;
}

#profileTeamTreningy {
	margin-left: 15pt;
	display:inline-block;
}

#profileInfoNoData {
	text-align: center;
	font-size: 16pt;
	color: red;
	
}

.elementsContainer{
	position:relative;
	height: 18pt;
	width: 280pt;
}

.viewOnly {
	position:absolute; top:3pt; left:0;
}

.editOnly {
	position:absolute; top:2pt; left:0;
}

#panelMapa {
        position: relative;
        top: 8px;
        left: 50%;
        width: 237pt;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }

















#footer {
	text-align:center;
	padding: 1pt;
	font-size: 10pt;
	background:#0099CC;
	color: white;
}



































